.field {
    display: block;
    margin-bottom: 1rem;

    .label {
        font-weight: bold;
        margin-bottom: .5rem;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: .5rem;
        border-radius: .25rem;
        border: 1px solid #eee;
    }
}
