ul li input[type="checkbox"]:hover,
ul li input[type="radio"]:hover {
    background-color: #bbb;
}

ul li input[type="checkbox"]:checked,
ul li input[type="radio"]:checked {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

ul li input[type="checkbox"]:checked::after,
ul li input[type="radio"]:checked::after {
    content: "✔";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}

.submit-btn:active {
    background-color: #333;
    color: white;
    transform: scale(0.98);
}

.submit-btn-evaluate {
    background-color: rgb(14, 180, 111);
    display: inline-block;
    text-decoration: none;
}

.submit-btn[disabled] {
    background-color: #bbbbbb;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #bbbbbb;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}



// Neodstranovat ̿̿ ̿̿ ̿̿ ̿'̿'\̵͇̿̿\з= ( ▀ ͜͞ʖ▀) =ε/̵͇̿̿/’̿’̿ ̿ ̿̿ ̿̿ ̿̿
ul li input[type="checkbox"],
ul li input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: background-color 0.4s ease, border-color 0.4s ease;

    &:disabled {
        cursor: not-allowed;

        &:hover {
            background-color: white;
            border-color: black;
        }
        &:checked:hover {
            background-color: black;
            border-color: black;
        }
    }
}

ul li input[type="radio"] {
    border-radius: 10px;
}

.resultTable {

    border: 1px solid #000;
    border-radius: 10px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 40px;

    .row {
        display: flex;

        div {
            border: none;
            padding: 8px;
            flex: 1;
            white-space: nowrap;
            text-align: center;
            display: block;
        }
    }

    .header {
        font-weight: bold;
    }
}
