
.quiz-page {
    padding: 10px 25px 30px;
    background: linear-gradient(180deg, rgb(182, 244, 146), rgb(51, 139, 147));

    #quiz-create-form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        textarea {
            width: 100%;
            font-size: 1.2em;
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 1em;
        }

        .number {
            width: 100px;
        }

        .time {
            width: 100px;
        }
    }
}
