body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.evaluation-button {
    border: 1px solid #359b74;
    background-color: #bdf1ea;
    color: #666;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    &:hover {
        background-color: #8bdbd1;
    }
}

.button {
    color: #ffffff;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;

    &:active {
      transform: scale(0.98);
    }

    &.primary{
        background-color: #135ee2;
    }

    &.secondary{
        background-color: #fff;
        border: 1px solid #135ee2;
        color: #135ee2;
    }

    &:disabled {
      background-color: #d1d5db;
      cursor: not-allowed;
      border: 1px solid #fdfdfd;
      color: #fdfdfd;

      &:active {
        transform: scale(1);
        }
    }
}

.flex-container {
  display: flex;
  gap: 10px;
}
